.infoError {
  width: 100%;
  text-align: center;
  font-weight: 400;
  color: #F2F2F2;
  padding: 15px 0;
  background: #df5151bb;
  border: 1px solid var(--title-color);
  border-radius: 4px;
  margin-bottom: 15px;
  position: relative;
}

.error-fixed {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  z-index: 9999;
}

.closeError {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 7px;
  cursor: pointer;
  transition: color 0.2s;
}

.closeError:hover {
  color: var(--title-color);
}
