.page-sign {
  width    : 100%;
  max-width: 1100px;

  margin : 0 auto;
  padding: 0 35px;
}

.page-sign form {
  margin       : 30px auto;
  padding      : 64px;
  max-width    : 400px;
  background   : #FFF;
  border-radius: 8px;

  display       : flex;
  flex-direction: column;
}

.page-sign form h1 {
  font-size : 30px;
}

.page-sign form fieldset {
  margin-top     : 10px;
  min-inline-size: auto;
  border         : 0;
}

.page-sign form legend {
  width          : 100%;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  margin-bottom  : 40px;
}

.page-sign form legend span {
  font-size  : 14px;
  font-weight: normal;
  color      : var(--text-color);
}

.page-sign form button {
  width: 100%;
  height: 50px;
  align-self: flex-end;
}

.page-sign form a {
  margin-top: 15px;
  transition: color 0.2s;
}

.page-sign form a:hover {
  color: #504c80;
}

.page-sign form div.view-password {
  position: relative;
  display: flex;
  align-items: center;
}

.page-sign form .viewPassword {
  position: absolute;
  right: 10px;
  height: 25px;
  cursor: pointer;
}

